* {
    margin: 0px;
    padding: 0px;
}

body{
    /* Ubicación de la imagen */
    background-image: url("images/197244260_l.webp");
    /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
    background-position: center center;
    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;
    /* Se muestra un color de fondo mientras se está cargando la imagen de fondo o si hay problemas para cargarla */
    background-color: #66999;
    /*min-height: 100vh;*/
}

.barra_superior{
    color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(13, 68, 85);
    position: absolute;
    width: 100%;
    height: 40px;    
}

.piedepagina{
    color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(13, 68, 85);
    position: float;
    width: 100%;
    height: 40px;
}

/* Imagen superior derecha del menú de selección */
#toggle-menu{
    color: rgb(255, 255, 255);
    position: relative;
    width: 150px;
    padding: 5px;
    background-color:rgb(13, 68, 85);
}

/* Propiedades del menú lateral */
.menu{
    color: rgb(255, 255, 255);
    margin-top: 0px;
    float: left;
    padding: 40px;
    max-height: 90%;
    width: 150px;
    height: 100vh;
    background-color:rgb(13, 68, 85);
}
.main-menu-item{
    margin-top: 10px;
}

/*Quitar el subrayado el los link o enlaces */
a:link, a:visited, a:active {
    text-decoration:none;
    color: azure;
}
/* Unir todas las lineas de todas las tablas <table> existentes */
table{
    border-collapse: collapse;
}

/* Tabla de la consulta de sitios */
.table_sites{
    background-color: bisque;
    position: absolute;
    top: 15%;
    left: 25%;
    opacity: 0.6;
    /*width: 950px;*/
    /*height: 90%;*/
}

.table_sites th {
    border: solid 2px;
    width: 200px;
    align-content: center;
}

.table_sites td {
    border: solid 2px;
    width: auto;
    align-content: center;
}
/* Fin de la tabla de la consulta de sitios */

/*Quitar el punto negro el las listas */
li {
    list-style: none;
}

.btn-info {
    opacity: 1 !important;
    background-color: green;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-select {
    background-color: green;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.btn-del {
    opacity: 1 !important;
    background-color: red;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}