body{
    margin: 0;
}
#toggle-menu{
    margin: 10px;
}
.nav{
    position: fixed;
    width: 225px;
    height: 100vh;
    background-color: azure;
}

.main{
    margin-left: 225;
    min-height: 100vh;
    background-color: #333;
}