* {
    margin: 0px;
    padding: 0px;
}
html{
    height: 100%;
    /*background-color: blue;*/
    }
body{
    min-height: 100vh;
    /*background-color: coral;*/
}

#toggle-menu{
    padding: 5px;
}
.nav{
    position: left;
    padding: 15px;
    max-height: 90%;
    width: 225px;
    height: 100vh;
    background-color: rgb(104, 143, 226);
}

/*Quitar el subrayado el los link o enlaces */
a:link, a:visited, a:active {
    text-decoration:none;
}

/*Quitar el punto negro el las listas */
li {
    list-style: none;
}